* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-container{
    background: var(--dark);
}

.projects-container {
    width: 60%;
    margin: 0px auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.project-list-ul {
    list-style: none;
    display: flex;
    position: relative;
    margin: 5px;
    justify-content:space-evenly;
}

.projects-container-name {
    padding-top: 10px;
    color: var(--light);
}

.project-list-li {
    position: relative;
    margin-top: 10px;
    border: 1px solid var(--light);
    color: var(--light);
}

.projects-item {
    position: relative;
    cursor: default;
    width: 460px;
    height: 360px;
    padding: 10px;
}

.projects-item-header {
    display: flex;
    justify-content: space-between;
}

.projects-item-main{
    padding-top: 10px;
}



.projects-item-details{
    margin:0;
    text-align: justify;
    text-justify: inter-word;
}

svg{
    height: 25px;
    width: 25px;
}

.svgFolder {
    height: 30px;
    width: 30px;
}

.projects-item-footer{
    margin-top: 10px;
}

.projects-item-footer-ul{
    list-style: none;
    display: flex;
    position: relative;
    margin-top: 15px;
    justify-content: space-evenly;
}

.projects-item-footer-li {
    border: 1px solid var(--light);
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    color:gold;
}


.projects-section-1{
    text-align: center;
    margin: 0px auto;
    width: 50%;
    color: var(--light);
}

.projects-section-2 {
    text-align: center;
    margin: 15px auto;
    width: 50%;
    color: var(--light);
}

.mode {
    float: left;
    margin-left: 25px;

}

.mode-icons {
    height: 50px;
    width: 50px;
}